<!doctype "html">
<head>
  <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>    
  <script type="text/javascript" src="js/backbone.js"></script>
  <script type="text/javascript" src="js/person.js"></script>

  <script type="text/template" id="person-template">
    <span class="name">Name: <%= name %> Gender: <%= gender %></span>
    <button class="testButton">push me</button>
  </script>

  <script type="text/template" id="people-template">
    <h1>Available people</h1>
    <ul class="people"></ul>
  </script>
</head>

<body>

  <div id="container">
  </div>

</body>

</html>