<!doctype "html">
<head>
  <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>    
  <script type="text/javascript" src="js/backbone.js"></script>
  <script type="text/javascript" src="js/person.js"></script>

  <script type="text/template" id="people-template">
    <span class="name">Name: <%= name %></span><br />
    <span class="gender">Gender: <%= gender %></span><br />
  </script>
</head>

<body>

</body>

</html>